body{
  background: url('https://images.unsplash.com/photo-1623610563813-b4d14c5982fc?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyNTU4NDM1NA&ixlib=rb-1.2.1&q=85')  center/cover  no-repeat;
}
header h1{
  font-family: Verdana;
  text-align: center;
  
}

table,tr,th{
  text-align: center;
  border: 1px solid;
  border-collapse:collapse;
    overflow:hidden;
}
table{
  max-width: 80vw;
  overflow:hidden;
  margin-inline: auto;
}

table th:first-child{
  width: 70px;
}
th  {
  padding:4px;
  width:200px;
}
td{
  border: 1px solid;
  min-height: 30px;
}
td{
    overflow:hidden;
  text-align: center;
}

#in{
width: 100%;
}
#container{
  background: #000;
}
input{
 max-width: 8vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  margin-top: 20px;
padding: 0.4em;
  font-size: 1em;
max-width: fit-content;
  border-radius: 10px;
  cursor: pointer;

}
.center{
  display: flex;
  justify-content: center;
}
tr:nth-child(2n+1){
  
  background: #2196F3;
}
footer {
  width:500px;
  margin-inline: auto;
  text-align: center;
  font-size: 29px;
  color:lavender;
}

@media screen and (max-width: 470px) {
  body {
    background: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    background-position: center;
    
  }
  footer{
    color: black;
}
